/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */

body {
  --page-bg: rgb(235 235 235);
  --page-font: rgb(40 35 35);
  --main-bg: white;
  --link-font: rgb(80 130 215);
  --link-hover: rgb(20 70 155);
  --logo-border: rgb(30 30 30);
  --time-font: rgb(82 80 80);
  --github-bg: rgb(20 20 20);
  --github-border: rgb(90 90 90);
  --github-font: white;
  --github-hover: rgb(55 55 55);

  font-family: Helvetica, Arial, sans-serif;
  background: var(--page-bg);
  color: var(--page-font);
  overflow: hidden;
}

html,
body {
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition-duration: 0.001s !important;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    --main-bg: rgb(62 60 60);
    --page-font: white;
    --page-bg: rgb(4 2 2);
    --link-font: rgb(120 170 255);
    --logo-border: rgb(30 30 30);
    --time-font: rgb(162 160 160);
    --github-bg: rgb(230 230 230);
    --github-border: #111;
    --github-font: black;
    --github-hover: rgb(255 255 255);
  }
}

.layout {
  display: grid;
  grid-template-rows: min-content 1fr;
  width: 100vw;
  height: 100dvh;
}

main {
  padding: 2rem 4rem 4rem;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

a {
  text-decoration: none;
}

ul {
  margin-bottom: 50px;
  padding: 0;
}

li {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

li a {
  color: var(--link-font);
  grid-area: link;
}

li a:hover {
  color: var(--link-hover);
}

li span {
  grid-area: text;
}
