/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */

body {
  --page-bg: rgba(235, 235, 235, 1);
  --page-font: rgba(40, 35, 35, 1);
  --main-bg: white;
  --link-font: rgba(80, 130, 215, 1);
  --link-hover: rgba(20, 70, 155, 1);
  --logo-border: rgba(30, 30, 30, 1);
  --time-font: rgba(182, 180, 180, 1);
  --github-bg: rgba(120, 120, 120, 1);
  --github-border: rgba(90, 90, 90, 1);
  --github-font: white;
  --github-hover: rgba(55, 55, 55, 1);
}

@media (prefers-color-scheme: dark) {
  body {
    --page-bg: rgba(12, 10, 10, 1);
    --page-font: rgba(235, 235, 235, 1);
    --main-bg: rgba(4, 2, 2, 1);
    --link-font: rgba(120, 170, 255, 1);
    --logo-border: rgba(30, 30, 30, 1);
    --time-font: rgba(62, 60, 60, 1);
    --github-bg: rgba(30, 30, 30, 1);
    --github-border: #111;
    --github-font: white;
    --github-hover: rgba(35, 35, 35, 1);
  }
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background: var(--page-bg);
  color: var(--page-font);
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main {
  background: var(--main-bg);
  padding: 2rem 4rem 4rem;
  border-radius: 0.75rem;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

header h1 {
  margin-left: 1rem;
}

header img {
  margin-left: 0rem;
  border-radius: 1rem;
  border: 1px solid var(--logo-border);
}

.title {
  display: flex;
  align-items: center;
}

.title h2 {
  flex: 1;
}

.title aside {
  color: var(--time-font);
}

.footer {
  display: flex;
  justify-content: center;
}

ul {
  margin-bottom: 5rem;
  padding: 0;
}

li {
  display: grid;
  grid-template-columns: 15rem 30rem 1fr;
  grid-template-areas: "link text .";
  margin-bottom: 1rem;
}

li a {
  color: var(--link-font);
  grid-area: link;
}

li a:hover {
  color: var(--link-hover);
}

li span {
  grid-area: text;
}

a.github {
  align-items: center;
  color: var(--github-font);
  background: var(--github-bg);
  padding: 0.75rem 0rem;
  border-radius: 0.25rem;
  border: 1px solid var(--github-border);
  padding-right: 1rem;
}

a.github:before {
  display: inline-block;
  content: " ";
  background: var(--github-font);
  width: 20px;
  height: 20px;
  mask: url("/images/github-mark.svg") no-repeat center;
  mask-size: 20px;
  padding: 0 1rem;
  vertical-align: middle;
}

a.github:hover {
  background: var(--github-hover);
}
