# unconventional js
/blueprints/*/files/
app/templates/*.gts
public/history/
public/

# compiled output
/dist/
/tmp/

# misc
/coverage/
!.*
.*/
README.md

# ember-try
/.node_modules.ember-try/

# everything else
*.yaml
.git/
.github/
