#history-chart-tooltip {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 0.25rem;
  color: white;
  opacity: 0;
  position: absolute;
  transition: all 0.1s ease;
  padding: 0.5rem;

  button {
    position: absolute;
      width: 1rem;
    height: 1rem;
    right: 2px;
    top: 2px;
    border: none;
  }

  header {
    background: none;
    height: unset;
    padding: 0;
  }

  table {
    pointer-events: none;
    width: max-content;
    margin: 0;

    tr {
      background-color: inherit;

      span {
        width: 10px;
        height: 10px;
        display: inline-block;
      }
    }
  }

  .active {
    font-weight: bold;
    font-style: italic;
  }
}
